<!DOCTYPE html>
<html ng-app='redditClone' ng-controller='mainController'>

<head>
  <meta charset="utf-8">
  <title>Reddit Clone</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
  <script src="http://code.angularjs.org/1.2.0rc1/angular-animate.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/main.css" media="screen" title="no title" charset="utf-8">

</head>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Reddit Clone</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href='#' ng-click='showSubmitForm();'><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Submit Post</a></li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" ng-model='search'>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sort by <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#" ng-click="sortBy('votes')">Votes</a></li>

            <li role="separator" class="divider"></li>
            <li><a href="#" ng-click="sortBy('comments')">Comments</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<body ng-cloak>
  <div class="funBG container-fluid">
    <div class="formSubmitDiv" ng-show="sumbitPostShowFormBool">
      <form name='submitForm' ng-submit='submit(post)' ng-model='post' novalidate>
        <div class="form-group" ng-class="{ 'has-error' : submitForm.title.$invalid}">
          <label for="inputTitle">Title</label>
          <input type="text" class="form-control" name='title' id="inputTitle" aria-describedby="emailHelp" ng-model="post.title" placeholder="Enter Title" ng-minlength="{{4}}" ng-maxlength="{{20}}" required>
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else. ;)</small>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : submitForm.$invalid}">
          <label for="inputAuthor">Author</label>
          <input type="text" class="form-control" id="inputAuthor" aria-describedby="emailHelp" ng-model="post.author" placeholder="Enter Author" ng-minlength="{{4}}" ng-maxlength="{{20}}" required>
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else. ;)</small>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : submitForm.$invalid}">
          <label for="inputUrl">Image URL</label>
          <input type="text" class="form-control" id="inputUrl" aria-describedby="emailHelp" ng-model="post.imageUrl" placeholder="Enter Image URL" ng-minlength="{{4}}" ng-maxlength="{{100}}" required>
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else. ;)</small>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : submitForm.$invalid}">
          <label for="inputDescription">Description</label>
          <input type="text" class="form-control" id="inputDescription" aria-describedby="emailHelp" ng-model="post.description" placeholder="Enter a post description" ng-minlength="{{0}}" ng-maxlength="{{200}}" required>
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else. ;)</small>
        </div>
        <input type="submit" ng-disabled="submitForm.$invalid" id='submit' class="btn btn-primary" value="Submit Post"></input>
      </form>
    </div>
    <div class="repeatDiv">
      <div class="sideBar col-sm-2">
        <div class="sidebarThumb thumbnail text-center bg-grey">
          <h3 class="redditSubredditTitle">Subreddits</h3>
          <div class="redditSubredditSideBarDiv" ng-repeat='sub in subredditObj.subs'>
            <button type="button" class='btn btn-warning'style="color:#4e91f0" name="button" ng-click='getPosts(sub.data.display_name);'>{{sub.data.url}}</button>
          </div>
        </div>
      </div>
    </div>
    <div class="repeatDivScroll">
      <div class="col-sm-10" ng-repeat="post in subredditObj.posts | filter:search | orderBy: subredditObj">
        <div class="thumbnail text-center bg-grey">
          <div class="redditSubredditMainDiv">
            <div class="redditSubbredditPictureDiv">
              <img ng-src="{{post.data.thumbnail}}" alt="No Image Found" />
            </div>
            <div class="redditSubredditTitleDiv">
              <h5 class="redditSubredditsTitle">{{post.data.title}}</h5>
            </div>
            <div class="voteArrowsDiv">
              {{trimString(post.data.ups.toString())}}
            </div>
            <div class="urlAndDescriptionDiv">
              <a href="{{post.data.url}}">URL to the Media</a>
            </div>
            <div class="bottomSubDiv">
              <h5 class='bottomSubText'>{{getTime(post.data.created_utc)}} &nbsp&nbsp&nbsp |
                 &nbsp&nbsp&nbsp Created By: {{post.data.author}} &nbsp&nbsp&nbsp |
                 &nbsp&nbsp&nbsp Comments: {{post.data.num_comments}} &nbsp&nbsp&nbsp |
                 &nbsp&nbsp&nbsp <span ng-click='addComment(post)' class="commentSpan">Add Comment</span></h5>
              <span class="glyphiconArrows glyphicon glyphicon-arrow-up" ng-class="{upvote: post.data.upVote === true}" ng-click='upVoteCheck(post)' aria-hidden="true"></span>
              <!-- ng-class="{correctAnswer: pingView.player2Score >= 11, wrongAnswer: scoreChecker===true}"  -->
              <span class="glyphiconArrows glyphicon glyphicon-arrow-down" ng-class="{downvote: post.data.downVote === true}" ng-click='downVoteCheck(post)' aria-hidden="true"></span>
            </div>
          </div>
        </div>
        <div class="commentSectionDiv thumbnail" ng-show='post.data.commentSection'>
          <h3 style="text-align:center; display:inline-block">Comments</h3>
          <button type="button" class"btn btn-primary" name="button" style="float:right" ng-click="triggerCommentForm()">Add New</button>
          <p>
            {{post.data.link_flair_text || post.data.description}}
          </p>
          <p ng-repeat='commentIndex in post.data.commentArray'>
            {{commentIndex}}
          </p>
          <form ng-submit='commentSubmit(commentNew,post)' ng-model='commentNew' ng-show='newCommentBool'>
            <div class="form-group">
              <label for="inputTitle">Title</label>
              <input type="text" class="form-control" id="inputTitle" aria-describedby="emailHelp" ng-model="commentNew.comment" placeholder="Enter Title">
            </div>
            <input type="submit" id='submit' class="btn btn-primary" value="Submit Post"></input>
          </form>
        </div>
      </div>

    </div>
  </div>
</body>
<script src="js/app.js" charset="utf-8"></script>
<script src="js/controller.js" charset="utf-8"></script>
<script src="js/services.js" charset="utf-8"></script>
<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</html>
