body{
  background-color: lightblue
}
.redditSubredditSideBarDiv{
  margin-top: 10%;
  margin-bottom: 10%;
  overflow: hidden;
}

.sideBar{
  float:left;
}

.repeatDivScroll{
  overflow-y: scroll;
  height: 100vh;
}
.col-sm-10 {
    width: 100%;
}
.redditSubbredditPictureDiv{
  width: 20%;
  height: 100%;
  display: inline-block;
}
.text-center{
  text-align: left;
}
.redditSubredditTitleDiv{
  display: inline-block;
  width: 75%;
  height: 100%;
  vertical-align: top;
}
.redditSubredditsTitle{
  margin: 0px;
  display: inline;
}
.submitInput{
  width: 100%
}
