body{
/*background: -webkit-linear-gradient(-45deg, rgba(243,226,199,1) 0%,rgba(193,158,103,1) 37%,rgba(182,141,76,1) 69%,rgba(233,212,179,1) 100%);*/
/*background: -webkit-linear-gradient(-45deg, rgba(206,219,233,1) 0%,rgba(170,197,222,1) 17%,rgba(97,153,199,1) 50%,rgba(58,132,195,1) 51%,rgba(65,154,214,1) 59%,rgba(75,184,240,1) 71%,rgba(58,139,194,1) 84%,rgba(38,85,139,1) 100%);*/
/*background: -webkit-linear-gradient(-45deg, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%);*/
background: -webkit-linear-gradient(-45deg, rgba(249,252,247,1) 0%,rgba(245,249,240,1) 100%);
}

.redditSubredditSideBarDiv{
  margin-top: 5%;
  margin-bottom: 5%;
  overflow: hidden;
}

.sideBar{
  float:left;
}
.sidebarThumb{
  /*background: -webkit-linear-gradient(-45deg,rgba(0,0,0,0) 0%,rgba(0,0,0,0.65)  100%);*/
  /*background: -webkit-linear-gradient(-45deg, rgba(255,197,120,1) 0%,rgba(251,157,35,1) 100%);*/
  /*background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);*/
  /*box-shadow: -8px 6px 31px 0px rgba(0,0,0,0.75);*/
  box-shadow: 0px 0px 0px 10px rgba(233,233,206,1);
  background-color: #e9e9ce;
  border: 1px solid black;
  border-radius: 0px;
}
.commentSectionDiv{
  background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}
.navbar{
  background: -webkit-linear-gradient(-45deg,rgba(233,233,206,1)  0%,rgba(252,255,244,1) 100%);
}
.repeatDivScroll{
  overflow-y: scroll;
  height: 100vh;
}
.col-sm-10 {
    width: 100%;
}
.redditSubbredditPictureDiv{
  width: 20%;
  height: 100%;
  display: inline-block;
}
.text-center{
  text-align: left;
}
.redditSubredditTitleDiv{
  display: inline-block;
  width: 72%;
  height: 100%;
  vertical-align: top;
}
.redditSubredditsTitle{
  margin: 0px;
  display: inline;
}
.submitInput{
  width: 100%
}
.bottomSubText{
  display: inline-block;
  margin: 0px;
  margin-top: 20px;
}
.glyphiconArrows{
  float:right;
  font-size: 20px;
  top: 20px;
}
.voteArrowsDiv{
  display: inline-block;
  float:right;
  position: relative;
  top: 40px;
}
.downvote{
  /*background-color: #9393FF;*/
  color:#9393FF;
}
.upvote{
  /*background-color: #F14000;*/
  color: #F14000;
}
.commentSpan{
  display: inline-block;
}

.row.ng-enter {
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
}

.row.ng-enter-active {
  opacity: 1;
}

.row.ng-leave {
  -webkit-transition: 1s;
  transition: 1s;

  opacity: 1;
}

.row.ng-leave-active {
  opacity: 0;
}
